POSTGRES_USER=prac
POSTGRES_PASSWORD=prac
POSTGRES_DB=prac

DATABASE_DRIVER=postgres
DATABASE_HOST=database
DATABASE_PORT=5432
DATABASE_NAME=prac
DATABASE_USERNAME=prac
DATABASE_PASSWORD=prac

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=prac

LOGGER=json

DOMAIN_FRONT=film-rechkalov.nomorepartiessite.ru
DOMAIN_API=api-film-rechkalov.nomorepartiessite.ru

CERTBOT_EMAIL=rechkalov.a.a@ya.ru

VITE_API_URL=https://api-film-rechkalov.nomorepartiessite.ru/api/afisha
VITE_CDN_URL=https://api-film-rechkalov.nomorepartiessite.ru/content/afisha

# Локальный docker compose (опционально для сборки на Mac):
# VITE_API_URL=http://localhost/api/afisha
# VITE_CDN_URL=http://localhost/content/afisha
